body {
  font-family: monospace;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

h3 {
  font-weight: normal;
}

#nodes >li {
  float: left;
  width: 12%;
  display: block;
  padding: 0 10px;
  border-left: 1px solid grey;
}

#tags > li {
  background-color: lightgreen;
  padding: 2px;
  margin: 2px 0;
}

#shipmap,
#shipmap iframe {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

#slideshow {
  margin: 0;
  background: black;
  display: table-cell;
  vertical-align: middle;
}

#slideshow img {
  display: inline-block;
  margin:0;
  padding: 0;
  width: 100%;
  vertical-align: middle;
}
