head
	meta(charset="utf-8")
	meta(http-equiv="X-UA-Compatible", content="IE=edge")
	meta(name="viewport", content="width=device-width, initial-scale=1")
	meta(name="description" content="")
	meta(name="author" content="")
	link(rel="shortcut icon", href="../../assets/ico/favicon.ico")

	title app

	// Custom styles for this template
	link(href="app.css", rel="stylesheet")
