doctype html
html(lang="en")
	include header

	body
		ul#nodes


		// --JAVASCRIPT -------------------------------
		script(src="/socket.io/socket.io.js")
		// script(src="./vendor/d3/d3.min.js")
		script(src="./vendor/jquery-3.0.0.min.js")
		// script(src="./vendor/topojson.js")
		// script(src="./vendor/cartogram.js")
		script(src="./app.js")
